@{
    Layout = null;
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowRptFilter</title>
</head>
<body>*@

@using (Html.BeginForm("ShowReport", "ReportMain", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{    
    <div>
     Filter controls will appear here
    </div>
}

@*</body>
</html>*@
