@{
    //ViewBag.Title = "Reports";
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
<style type="text/css">
@*body
{
    background-image:url("Content/images/background.jpg"); 
    background-position:center;
    background-repeat:no-repeat;
}*@
</style>
</head>

<body>

<h4 style="color:Blue;font-style:italic">Session Expired. Please login to main page</h4>
    
</body>
</html>
   
