@{
    //ViewBag.Title = "Reports";
    Layout = null;
}
<head>
<style>
body
{
    background-image:url('Content/images/background.jpg');
    background-position:center;
    background-repeat:no-repeat;
}
</style>
</head>

<html>
<body>

<h4 style="color:Blue;">Session Expired. Please login to main page</h4>
    
</body>
</html>
   
