@{
    ViewBag.Title = "Reports";
}

<h2>Please login to main page</h2>
<body class="content-wrapper" style="background-image:url('Content/images/background.jpg') ; background-position: center; background-repeat: no-repeat ;background-size: cover;">
    <div >
        <div class="float-left">
            <p>Your IP @ViewBag.clientip </p>
            <p>User logdate @ViewBag.logdate </p>
            <p>Server Date @ViewBag.serverdate </p>
            <p>Date difference @ViewBag.newdate </p>
        </div>
    </div>
</body>