@{
 ViewBag.Title = "Index View - My tec Bits";
}
@section featured {
 <div class="hero-unit">
 <h1>Welcome to www.MyTecBits.com</h1>
 <p>This is my first ASP.NET MVC4 with Bootstrap website........</p>
 </div>
}
Some content goes here........
@Html.ActionLink("Home >>","../", null,new { @class="btn btn-primary btn-large" })

 <input type="text" placeholder="Type something…">