@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>Index</title>

    
    
<script type="text/javascript" src="/Scripts/jquery-1.7.1.js">      </script>
@*<script src="/Scriptsjquery-ui-1.8.20.js">   </script>
<script src="/Scripts/jquery.validate.js">   </script>*@

<style type="text/css">
.grid-container {
  display: grid;
  grid-template-columns: 30% auto-fit;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.item1 {
  grid-column: 1;
  grid-row: 1 / span 2;
}
.item2 {
  grid-column: 2;
  grid-row: 1;
}
.item3 {
  grid-column: 2 ;
  grid-row: 2;
}
.item4 {
  grid-column: 1;
  grid-row: 3;
}
.item5 {
  grid-column: 2;
  grid-row: 3;
}
</style>

</head>

<body>

<div class="container">
    <div class="grid-container">  
         <div class="grid-item item1">  
             @Html.Action("ShowRptList")
         </div>
         <div class="grid-item item2" id = "filterview" >  
            @* @{Html.RenderAction("ShowRptFilter");}  *@
            @Html.Partial("ShowRptFilter")
         </div>
         <div class="grid-item item3" id = "SelectionView">
            @Html.Partial("SelectionList")
         </div>
          <div class="grid-item item4">  
                <input type="button" value="Submit"  id = "btnShowFilter" class="btn btn-default"  />
          </div>  

          @* <div class="col-md-offset-2 col-md-10">  *@
          <div class="grid-item item5">  
                <input type="button" value="Show Report"  id = "btnShowReport" class="btn btn-default"  />
          </div>  
      </div>
</div>
   @* <button onclick="myFunction()">Try it</button>
    <p>Click on this paragraph.</p>*@

</body>
</html>
    

<script type="text/javascript">

 
//       $("#btncreate").click(function (e) {
//            $('#form').submit();
//            $('#filterview').load('/ReportMain/Index');
//        });

    function loadfilter() {
        alert("test");

    }



//    $("btncreate").click(function () {
//        alert("sdfd")
//        $.ajax({
//            url: "/ReportMain/ShowRptFilter",
//            type: "POST",
//            data: $("form").serialize(), //if you need to post Model data, use this
//            success: function (result) {
//                $("filterview").html(result);
//            }
//        });
//    })
    
    function myFunction() {
  alert("I am an alert box!");
}
</script>

<script type="text/javascript">

    $("input#btnShowFilter").click(function () {
        //        alert($("#ObjectID option:selected").val());
        var res = $("#ObjectID option:selected").val();
        var ee = res.replace(/ /g, "+");
        //        alert(ee);
        $("#lstselect").empty();
        $("#filterview").load("/ReportMain/ShowNoRptFilter")
        $("#filterview").load("/ReportMain/ShowRptFilter?ObjectID='" + ee + "'")
    });

    $("input#btnShowReport").click(function () {
        // alert($("#fname").val());
        setSelected();

        if ($("#txtselected").val() != "") { 
              var res = $("#ObjectID option:selected").val();
            var ee = res.replace(/ /g, "+");
            //var ea = res.replace(/ /g, "+");
            //var ee = ea + "/" + ea;
            //alert(ee);
            $('#' + ee).attr("target", "_blank");
            $('#' + ee).submit();
        }
        else {
                alert("You have not selected any from the list yet!.")
      
         }

      

    });

//    $("#btnselected").click(function () {
     function setSelected () {
         var rr = [];

         /// 'lstselect' name of listbox in view SelectionList.cshtml ///////////
        $("#lstselect :selected").each(function (i, selected) {
            rr[i] = "'" + $(selected).val() + "'";
        });
        //alert(rr);
        //alert(rr[0]);
        var s = rr.toString();
        $("#txtselected").val(s); /// 'txtselected' name of hidden textbox in your viewFilter.cshtml ///////////
        //alert(s);

       }

</script>
