@{
    ViewBag.Title = "Reports";
}

<h3 style="color:blue; background-color:White; padding-left:10px">Please login to main page.</h3>
    <div >
        <div class="float-left">
            <p>Your IP @ViewBag.clientip </p>
            <p>User logdate @ViewBag.logdate </p>
            <p>Server Date @ViewBag.serverdate </p>
           @* <p>Date difference @ViewBag.newdate </p>*@
        </div>
    </div>
