@{
    ViewBag.Title = "Reports";
}

<h2>Please login to main page</h2>

 <footer>
    <div class="content-wrapper">
        <div class="float-left">
            <p>Your IP @ViewBag.clientip </p>
            <p>User logdate @ViewBag.logdate </p>
            <p>Server Date @ViewBag.serverdate </p>
            <p>Date difference @ViewBag.newdate </p>
        </div>
    </div>
</footer>
