
@{
    ViewBag.Title = "SelectionList";
}



<script type="text/javascript" src="/Scripts/jquery-1.7.1.js">      </script>

<style type="text/css">
    th.clstd, td.clstd
    {
        display: block;
        max-height:20px; 
        vertical-align:top;
         text-align:center;
         padding:0; 
    }
    
    ul {
    list-style: none;
    overflow: auto;
    }
    li {
        background: #4FBAF7;
        float: left;
        clear: left;
    }
    
</style>

@*<h3>Selection List</h3>*@
<table width = "100%" class ="tablex" style="text-align:center; height:100%">
    <tr>
        <td style="width:33%; text-align:left; overflow:auto">
            <div class="controls">
            <div class="input-append">
            <input type="text"  style="width:80%" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." />
            <button id = "clearMyInput" type ="button" class="btn">x</button>
            </div></div>
        </td>
        <td style="width:33%"><label style="font-size:medium; font-weight:bold ; text-align : center ; display:inline-block;" >Selection List</label></td>
        @*</td>
        <th class="clstd">Selection List</th>*@
        <td style="width:33%"></td>
    </tr>
    <tr>
        <td colspan="3" style="padding:0;height:100%;">
            <div style=" overflow-y: auto;height:100%;">
              @Html.ListBox("-No Data-", ViewBag.selectionlist as SelectList, new { @class = "form-control", @style = "width:100%; height:90%; overflow:scroll; padding-left:10;", id = "lstselect", size = 16 })            
              <label style="font-style:italic; font-size:smaller; text-align:left; padding-left:5px; max-height:15px; padding-bottom:0; padding-top:0">Press Ctrl+click for multi-select</label>              
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">@Html.Label("Records", new { id="reccount"})</td>
    </tr>
    <tr>
        <td colspan="3" style="max-height:30px;"><button id = "btnSelAll" type ="button" class ="btn btn-small">Select All</button> <button id = "btnDeSelAll" type ="button" class ="btn btn-small">De-Select All</button>   </td>
    </tr>
</table>



<script type="text/javascript">
    $("#clearMyInput").click(function () {
        $("#myInput").val("");
        myFunction();
    })

    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        //ul = document.getElementById("lstselect");
        //li = ul.getElementsByTagName("option");

        //alert(li.tagName);
        $("#lstselect > option").each(function () {    
            txtValue = this.textContent || this.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                this.style.display = "";
            } else {
                this.style.display = "none";
            }
        })
    }

    $("#btnSelAll").click(function () {
//        $("option", "#lstselect").prop("selected", true);

        $("#lstselect option").each(function () {
            if ($(this).css('display') != 'none') {
                $(this).prop("selected", true);
            }
        });

        var count = $("#lstselect").children('option').length;
        $("#reccount").text(count + "/" + count + " Record(s)");

    }
    );

    $("#btnDeSelAll").click(function () {
        $("option", "#lstselect").prop("selected", false);

        $("#reccount").text("0/"+ $("#lstselect").children('option').length + " Record(s)");
    }
    );

    $("#lstselect").ready(function () {
        //alert("ready");
        if (($("#lstselect option:first").text() != "- No Data -") && ($("#lstselect").children('option').length >0 )) {
            $("#reccount").text($("#lstselect").children('option').length + " Record(s)");
        }
         else {
            $("#reccount").text("0 Record(s)");
        }

        $('#spin').css({ opacity: 0.0,
            visibility: 'hidden'
        }).animate({ height: '100%', opacity: 1 }, 650); 
    }
    )

    $("#lstselect").change(function () {
        //alert("change");
        if ($("#lstselect option:first").text() != "- No Data -") {
            var count = $("#lstselect :selected").length;
            // alert(count);
            $("#reccount").text(count + "/" + $("#lstselect").children('option').length + " Record(s)");
        }
        else {
            $("#reccount").text("0 Record(s)");
        }
    })

    $("#lstselect").on(function () {
       // alert("on");
    }
      )

    $("#lstselect").select(function () {
       // alert("select");
    }
      )



    $("#lstselect").attr("size", function () {

        return this.options.length; //ResizeHeightControlBasedOnParent("lstselect");  //
    });

//    function ResizeHeightControlBasedOnParent(targetId) {
//        var obj = $('#' + targetId);
//        if (obj.length > 0 && obj.height() > 0) {
//            var objParent = obj.parent();
//            obj.height(function (index, height) {
//                var objParent = $(this).parent();
//                if (objParent.height() <= 0)
//                    return 0;
//                return objParent.height() + objParent.offset().top - $(obj[0]).offset().top;
//            });
//        }
//    }

   
</script>